body {
    display:flex;
    flex-direction:column;
    background-color: rgb(255, 0, 0);
}
main{
    display: flex;
    flex-direction:row;
    flex:auto;
}
article{
    flex:1;
    overflow-y:auto;
}
article{
    flex:2;
     overflow-y: auto;
}
h1{
    font-size: 32px;
    font-weight: 1000;
    font-family:'Times New Roman';

}

h2,h3,h4,h5{
    font-size: 32px;
    font-weight: 200;
    font-family:'Times New Roman';
    }

img{
    margin-bottom:0px;
    /* margin-top:30px; */
}
a{
    margin-top:0px;
}
.reference{
      margin-bottom:20px ;
}
